**Exercise 2: Create markdown cell with title of the notebook**

# Data Science Tools and Ecosystem

**Exercise 3 - Create a markdown cell for an introduction**

In this notebook, Data Science Tools and Ecosystem are summarized.

**Exercise 10 - Insert a markdown cell to list Objectives**

**Objectives:**

- List popular languages for Data Science
- List commonly used libraries used by Data Scientists
- Create and format markdown cells in a Jupyter Notebook
- Create and run code cells in a Jupyter Notebook
- Use arithmetic expressions and variables in Python

**Exercise 4 - Create a markdown cell to list data science languages**

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Julia
5. Scala

**Exercise 5 - Create a markdown cell to list data science libraries**

Some of the commonly used libraries used by Data Scientists include:
1. **Python:** pandas, NumPy, Matplotlib, Seaborn, Plotly, Altair, scikit-learn, XGBoost, LightGBM
2. **R:** dplyr, tidyr, data.table, ggplot2, plotly, lattice, shiny
3. **Julia:** DataFrames.jl, Plots.jl, Gadfly.jl, Makie.jl
4. **Scala:** Apache Spark, MLlib, Weka, Deeplearning4j, Java-ML

**Exercise 6 - Create a markdown cell with a table of Data Science tools**

| Data Science Tools       |
|--------------------------|
| Jupyter Notebook         |
| RStudio                  |
| Apache Zeppelin          |

**Exercise 7 - Create a markdown cell introducing arithmetic expression examples**

### Below are a few examples of evaluating arithmetic expressions in Python

**Exercise 8 - Create a code cell to multiply and add numbers**

In [18]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

**Exercise 9 - Create a code cell to convert minutes to hours**

In [19]:
# This will convert 200 minutes to hours by diving by 60
round(200 / 60, 2)

3.33

**Exercise 11 - Create a markdown cell to indicate the Author's nameExercise 10 - Insert a markdown cell to list Objectives**

## Author 
Patty